

body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    display: flex;
    text-align: center;
    overflow: hidden;
      width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-image: repeating-radial-gradient(  #0c0a0a 80%,#2f312f 90%,#3f4549 90%);
    background-size: 65px 65px;
  }
  
  .calculator {
    border-radius: 20px;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
      --s: 200px; /* control the size */
      --c1: #1d1d1d;
      --c2: #4e4f51;
      --c3: #3c3c3c;
  
      background: repeating-conic-gradient(
            from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg
          )
          calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
        repeating-conic-gradient(
          from 30deg,
          var(--c1) 0 60deg,
          var(--c2) 0 120deg,
          var(--c3) 0 180deg
        );
      background-size: var(--s) calc(var(--s) * 0.577);
  }
  
  .input {
    width: 85%;
    height: 7vh;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    color: white;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    overflow: hidden;
  }
  
  .input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
  }
  
  
  .buttons {
    margin-top: 2%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .operator {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #787878;
  }
  .operator:hover {
  backdrop-filter: blur(10px);
  box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #787878;
  }
  
  .decimal {
    grid-column: span 2;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .decimal:hover {
    grid-column: span 2;
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #9dd6e2;
  }